<div class="content">
   <section class="title-section">
    <h1>my <span class="color-text">portfolio</span></h1>
    <span class="title-bg">works</span>
    </section>

    <section class="main-content-portfolio">
        <div id="grid-gallery" class="container">
            <section class="grid-wrap">
                <ul class="parent-grid">
                    {{#each PagesDB}}
                    <li>
                        <figure class="snake">
                            <img src="{{url}}{{image}}" alt="Portolio Image" />
                            <div class="overlay color-bg">
                                <span>{{text}}</span>
                                <form action="/admin/portfolio/{{_id}}/delete" class="text-center" method="POST">
                                    <button class="btn btn-outline-info my-2" style="border: 1px solid black; padding: 1px 20px !important">delete</button>
                                </form>
                            </div>
                        </figure>
                    </li>
                    {{/each}}
                </ul>
            </section>
        </div>
    </section>

    <div class="container text-center my-5">
        <div class="my-5">
            <h3>Portolio Add</h3>
            <form action="{{url}}/admin/portfolio/add"  method="POST" enctype="multipart/form-data" class="text-center row">

                <div class="form-group col-6 my-3 enctype="multipart/form-data"">
                <label for="image">Portolio Image</label>
                <input 
                    type="file"
                    class="form-control bg-secondary" 
                    id="image"
                    name="image"
                    value=""
                    required>
                </div>
                <div class="form-group col-6 my-3">
                <label for="text">Portolio Text</label>
                <input 
                    type="text"
                    class="form-control bg-secondary" 
                    id="text"
                    name="text"
                    value=""
                    required>
                </div>
                <button type="submit" class="btn btn-primary m-auto">Add Portfolio</button>
            </form>
        </div>
    </div>
</div>
<script src="{{url}}/js/color.js" ></script>

<script src="{{url}}/js/jquery-3.6.0.min.js"></script>
<script src="{{url}}/js/switcher.js"></script>
<script src="{{url}}/js/snake.js"></script>
<script src="{{url}}/js/portfolio-hover.js"></script>