<div class="content">
   <section class="title-section">
    <h1>my <span class="color-text">portfolio</span></h1>
    <span class="title-bg">works</span>
    </section>

    <section class="main-content-portfolio">
        <div id="grid-gallery" class="container">
            <section class="grid-wrap">
                <ul class="parent-grid">
                    <li>
                        <figure class="snake">
                            <img src="{{url}}/img/projects/project-1.jpg" alt="Portolio Image" />
                            <div class="overlay color-bg"><span>Image Project</span></div>
                        </figure>
                    </li>
                    
                    <li>
                        <figure class="snake">
                            <img src="{{url}}/img/projects/project-2.jpg" alt="Portolio Image" />
                            <div class="overlay color-bg"><span>Youtube Project</span></div>
                        </figure>
                    </li>
                    
                    <li>
                        <figure class="snake">
                            <img src="{{url}}/img/projects/project-3.jpg" alt="Portolio Image" />
                            <div class="overlay color-bg"><span>Slider Project</span></div>
                        </figure>
                    </li>
            
                    <li>
                        <figure class="snake">
                            <img src="{{url}}/img/projects/project-4.jpg" alt="Portolio Image" />
                            <div class="overlay color-bg"><span>Local Video Project</span></div>
                        </figure>
                    </li>
        
                    <li>
                        <figure class="snake">
                            <img src="{{url}}/img/projects/project-5.jpg" alt="Portolio Image" />
                            <div class="overlay color-bg"><span>Image Project</span></div>
                        </figure>
                    </li>
            
                    <li>
                        <figure class="snake">
                            <img src="{{url}}/img/projects/project-6.jpg" alt="Portolio Image" />
                            <div class="overlay color-bg"><span>Image Project</span></div>
                        </figure>
                    </li>
                
                    <li>
                        <figure class="snake">
                            <img src="{{url}}/img/projects/project-7.jpg" alt="Portolio Image" />
                            <div class="overlay color-bg"><span>Image Project</span></div>
                        </figure>
                    </li>
                
                    <li>
                        <figure class="snake">
                            <img src="{{url}}/img/projects/project-8.jpg" alt="Portolio Image" />
                            <div class="overlay color-bg"><span>Image Project</span></div>
                        </figure>
                    </li>
                    
                    <li>
                        <figure class="snake">
                            <img src="{{url}}/img/projects/project-9.jpg" alt="Portolio Image" />
                            <div class="overlay color-bg"><span>Image Project</span></div>
                        </figure>
                    </li>
                </ul>
            </section>
        </div>
    </section>
</div>
<script src="{{url}}/js/color.js" ></script>

<script src="{{url}}/js/jquery-3.6.0.min.js"></script>
<script src="{{url}}/js/switcher.js"></script>
<script src="{{url}}/js/snake.js"></script>
<script src="{{url}}/js/portfolio-hover.js"></script>