
<section class="section">
    <div class="color-bgr color-bg"></div>
        <div class="parent">
            <div class="col-5 col-lg-12">
                <img src="{{url}}/{{homeDB.image}}" class="" alt="my picture" />
            </div>
            <div class="col-7 col-lg-12 hi-there">
                <h6 class="">{{homeDB.titleH3}}</h6>
                <h1 class="color-text"><span>{{homeDB.titleH1}}</span> {{homeDB.titleH1Color}}</h1>
                <p>{{homeDB.descr}}</p>
                <a href="about.html" class="btn color-bg color-hover">{{homeDB.button}}</a>
            </div>
        </div>
    </div>
</section>

<script src="js/color.js" ></script>

<script src="js/jquery-3.6.0.min.js"></script>
<script src="js/switcher.js"></script>