
<section class="title-section">
    <h1>my <span class="color-text">blog</span></h1>
    <span class="title-bg">posts</span>
</section>

<section class="main-content-blog">
    <div class="container">
        <div class="parent">
            {{#if BlogData}}
            {{#each BlogData}}
            <div class="col-4 col-xl-6 col-md-12">
                <article class="post-container">
                    <div class="post-thumb">
                        <a href="{{url}}{{_id}}">
                            <img src="{{image}}" class="img-fluid" alt="Blog Post">
                        </a>
                    </div>
                    <div class="post-content">
                        <div class="entry-header">
                            <h3><a href="{{url}}{{_id}}">{{title}}</a></h3>
                        </div>
                        <div class="entry-content">
                            <p>{{descr}}
                            </p>
                        </div>
                    </div>
                </article>
            </div>
            {{/each}}
            {{/if}}
            
            <div class="col-12">
                <nav>
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active color-bg"><a class="page-link active" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

</section>

<script src="js/color.js"></script>
<script src="js/jquery-3.6.0.min.js"></script>
<script src="js/switcher.js"></script>